.btn {
  text-decoration: none;
  border: 3px solid #333;
  font-size: 13px;
  padding: 3px;
  border-radius: 5px;
  transition-duration: 0.5s;
}

.btn-primary {
  background-color: #ffb76c;
  color: white;
  border: 3px solid #ffb76c;
}

.btn-primary:hover {
  color: #ffb76c;
  background-color: white;
  border: 3px solid #ffb76c;
}

.btn-primary-outline {
  background-color: white;
  color: #ffb76c;
  border: 3px solid #ffb76c;
}

.btn-primary-outline:hover {
  color: white;
  background-color: #ffb76c;
  border: 3px solid #ffb76c;
}

.btn-secondary {
  background-color: #26ccc2;
  color: white;
  border: 3px solid #26ccc2;
}

.btn-secondary:hover {
  color: #26ccc2;
  background-color: white;
  border: 3px solid #26ccc2;
}

.btn-secondary-outline {
  color: #26ccc2;
  background-color: white;
  border: 3px solid #26ccc2;
}

.btn-secondary-outline:hover {
  color: white;
  background-color: #26ccc2;
  border: 3px solid #26ccc2;
}
